@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

.button-component {
    background-color: #0066B2;
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    border: none;
    font-weight: 600;
    font-size: 14px;
    width: 88px;
    height: 50px;
    text-align: center;
    color: white;
    padding: 8px;
    border-radius: 4px;
    line-height: 30px;

    &.button-component-disable {
        background-color: #0066B2;
        color: white;
        opacity: 0.32;
    }
}